@font-face {
    font-family: 'HurmeGeometricSans1';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/HurmeGeometricSans1.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'HurmeGeometricSans1';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~assets/fonts/HurmeGeometricSans1Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'HurmeGeometricSans1';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('~assets/fonts/HurmeGeometricSans1Light.ttf') format('truetype');
  }
  